# Python
__pycache__/*
*/__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite
*.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Virtualenv
venv/
ENV/
.env/

# Static/media
# staticfiles/
media/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Vercel
.vercel/

# Coverage
htmlcov/
.coverage

# Others
*.bak
*.swp
*.swo

# Ignore local settings
local_settings.py


