# Django related files and folders

# Django migrations
*/migrations/*.pyc
db.sqlite3
.venv*
.env*

.venv
__pycache__/
*.pyc
media/
*.log
node_modules/


# Media and static files
/media/

# VSCode settings
.vscode/

# pipenv/virtualenv
venv/
env/
.venv/


